.experiencia {
  max-width: 1200px;
  padding: 40px 20px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr 2fr;
  gap: 100px;
}

.experiencia .subtitulo {
  color: #aaacac;
}

.experiencia_texto {
  font-size: 1.5rem;
  line-height: 1.33;
  max-width: 40ch;
  margin-bottom: 60px;
  color: #525252;
  justify-items: center;
}

.experiencia_texto strong {
  color: #141414;
}

.empresa {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-column: 2;
  gap: 10px 20px;
  padding: 20px;
  background-color: #f5f5f5;
  margin-bottom: 20px;
  border-radius: 4px;
  position: relative;
}

.empresa::before {
  content: "";
  display: block;
  width: 4px;
  height: 20px;
  background: linear-gradient(#a12626, #da4444);
  position: absolute;
  top: 20px;
  left: -4px;
}
.empresa_ano {
  position: absolute;
  left: -100px;
  text-align: right;
  width: 80px;
  top: 22px;
  color: #525252;
  font-size: 0.875rem;
}

.empresa_titulo {
  font-size: 1.125rem;
  line-height: 1.1;
  font-weight: bold;
}

.empresa_texto {
  font-size: 0.875rem;
  line-height: 1.4;
  color: #525252;
}

.empresa_habilidades {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  align-items: flex-start;
}

.empresa_habilidade li {
  font-size: 00.875rem;
  line-height: 1.4;
  border-radius: 4px;
  padding: 10px 5px;
  background-color: #525252;
}
