.formacao{
    background-color: #2E2E2E;
    max-width: 1200px;
    margin: 0 auto;
    color: #fff;
    padding: 40px 20px;
    gap: 100px;
}

.formacao_container {
    max-width: 1200px;
    padding: 120px 20px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: 100px;
    position: relative;
  }

.formacao_container::after {
content: '';
display: block;
width: 130px;
height: 100px;
background: url('../img/favicon.svg') no-repeat center;
position: absolute;
bottom: -80px;
left: 20px;
}


  .formacao .subtitulo{
    color: #000000;
    max-width: 5ch;
  }

  .formacao_texto{
    font-size: 1.5rem;
    line-height: 1.33;
    max-width: 40ch;
    margin-bottom: 60px;
    color: #a3a3a3;
    justify-items: center;
  }

  .formacao_texto strong{
    color: #fff;
    font-weight: bold;
  }

  .faculdade_lista{
    display:flex;
    flex-wrap:wrap ;
    gap: 20px;
    margin-bottom: 60px;
    
  }

  .faculdade{
    flex: 1;
    background: #000000;
    padding: 20px;
    border-radius: 4px ;
    display: flex;
    flex-direction: column;
  }

  .faculdade_tipo{
    font-size: .875rem;
    text-transform: uppercase;
    color: #a3a3a3;
    margin-bottom: 10px;
  }

  .faculdade_curso{
    flex: 1;
    font-size: 1.125rem;
    line-height: 1.4;
    margin-bottom: 40px;
    position: relative;
  }

  .faculdade_curso::before{
    content: "";
    display: block;
    width: 4px;
    height: 20px;
    background: linear-gradient(#a12626, #da4444);
    position: absolute;
    left: -24px;
  }

  .faculdade_instituicao{
    font-size: 1.125rem;
    color: #a3a3a3;
  }

  .cursos{
    margin-bottom: 60px;
  }

  .cursos h3::before{
    background: url('../img/menu_book.svg');
  }

  .formacao_extra{
    font-size: 1.125rem;
    line-height: 1.1;
    margin-bottom: 20px;
  }

  .formacao_extra span{
    color: #8f8f8f;
  }

  .cursos li{
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
  }

  @media (max-width:800px){
    .formacao_container{
      grid-template-columns: 1fr;
    padding: 60px 20px;
    gap: 40px;
    }

    .formacao .subtitulo{
      color: #fff;
    }

    .formacao_texto{
      font-size: 1.125rem;
    }

    .formacao_extra{
      position: initial;
      margin-top: 10px;
    }
  }